@font-face {
    src: url(../fonts/Poppins-Bold.ttf);
    font-family: PoppinsBold;
}

@font-face {
    font-family: PoppinsMedium;
    src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: PoppinsLight;
    src: url(../fonts/Poppins-Light.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: PoppinsLight;
}

body{
    height: 100vh;
    width: 100vw;
    position: fixed;
}

.aside-style{
    width: 15%;
    height: 100%;
    background-color: #383838;
    float: left;
}

.container1{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

.main-logo-style{
    height: 4rem;
}

.h1-style{
    color: #ffffff;
    font-family: PoppinsBold;
}

.span-style{
    color: #61CCEF;
}
.container2{
    width: 100%;
    height: auto;
}

.p-style{
   color: white;
   padding-left: 3rem;
   font-family: PoppinsMedium;
}

.a-style{
    text-decoration: none;
}

.a-container-style{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #383838;
    padding: 1.3em;
    font-size: 1rem;
    align-items: center;
    flex-direction: row;
}

.logo-style{
    height: 1.5rem;
    position: absolute;
}

.a-container-style:hover{
    background-color: #272727;
}

#dashboard-underline, #employee-underline, #pay-head-underline, #payroll-underline{
    text-decoration-line: underline;
    text-decoration-color: #61CCEF;
    text-decoration-thickness: 2px;
}

.content-style{
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1200px) {
    .p-style{
        display: none;
    }

    .h1-style{
        display: none;
    }
    .logo-style{
        position: relative;
        height: 2em;
    }
    .a-container-style{
        width: 100%;
        height: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: #383838;
        padding: 1.5em;
        font-size: 1rem;
        align-items: center;
        justify-content: center;
    }
}

.box-style{
    width: 90%;
    height: 80vh;
    
}

.content-container1{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;

}

.content-container2{
    height: 85%;
    width: 100%;
    border-top-color: #383838;
    border-top-style: solid;
    border-top-width: 1px;
    overflow-y: auto;
    padding-right: 10px;
}

.searchBar, .add-button-style{
    margin-bottom: 1em;
}

.searchBar{
    margin-left: 1em;
    width: 35%;
    padding: .50em;
    border-radius: 5px;
    border-color: #c0c0c0;
    border-width: 1px;
    border-style: solid;
    color: #383838;
}

.searchBar:focus{
    outline: none;
    border-color: #c0c0c0;
}

.add-button-style{
    margin-right: 1em;
    padding: .75em 2em;
    border-style: none;
    background-color: #519cff;
    color: #ffffff;
    border-radius: 5px;
    font-family: PoppinsMedium;
    cursor: pointer;
    transition: .25s;
}


.add-button-style:hover{
    background-color: #0d5ac0;
}