@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "Helvetica Neue", Helvetica, Arial;
}


.table-style{
    width: 100%;
    border-top-color: #383838;
    border-top-style: solid;
    border-top-width: 1px;
    overflow-y: auto;
    max-height: 85%;
    border-collapse: collapse;
}

.th-style{
    text-align: left;
    background-color: #383838;
    color: #ffffff;
    padding: .50em;
    
}
#tableName{
    width: 60%;
}

#tableDesignation{
    width: 40%;
}


.td-style{
    padding: .50em;
}

.tr-data-style{
    border-style: solid;
    border-width: 1px;
    border-color: #c0c0c0;
    border-left-style: none;
    border-right-style: none;
}


.tr-data-style:hover{
    background-color: #519cff;
    color: #ffffff;
    cursor: pointer;
}
.tabs{
    display: flex;
    flex-direction: row;
}
.tab {
    padding: 10px 20px;
    cursor: pointer;
    background: #ffffff;
    margin-right: 5px;
    transition: 0.3s;
    font-size: .90rem;
}
.tab:hover {
    background: #c0c0c0;
}
.tab.active {
    background: white;
    border-top: 2px solid #61CCEF;
    font-weight: bold;
}
.tab-content {
    padding: 10px;
    display: none;
}
.tab-content.active {
    display: table;
}